@import './base.css';

#app {  
  font-weight: normal;
  display: flex;
}


.setting-obj:hover {
  background-color: rgb(116, 116, 116);
}

.setting-obj {
  padding: 2px
}


a {
  text-decoration: none;
  color: rgb(154, 160, 158);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(224, 22%, 46%, 0.2);
  }
}


